
/*
    Style the body with Verdana standard font and 1rem
    size
*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

/*
    Set the background color to blue
*/
.mainSection {
    background-color: #a4d9f0;
}

/*
    Set the size of search bar to respond better with
    larger screens and mobile
*/
.searchBar {
    max-width: 20rem;
    padding: 0;
}
