<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>results</title>

        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
        <link rel="stylesheet" th:href="@{/css/main.css}">
    </head>

    <body class="mainSection">

        <nav class="navbar navbar-light bg-light">
            <h3 class="font-weight-bold">SongShop</h3>
            <!-- Take a user back home -->
            <a class="link-success" href="/">Home</a>
        </nav>

        <div class="container mt-3">
            <!-- Results list with bootstrap list item classes
                to make list items more aesthetic and also some padding
                at the bottom to separate items -->
            <ul class="list-group list-group-flush" th:each="result : ${list}">

                <li th:text="'Artist: ' + ${result.getArtist}" class="list-group-item mb-2"></li>

                <li th:text="'Track: ' + ${result.getTrack}" class="list-group-item mb-2"></li>

                <li th:text="'Genre: ' + ${result.getGenre}" class="list-group-item mb-2"></li>

                <li th:text="'Album: ' + ${result.getAlbum}" class="list-group-item mb-2"></li>

                <hr>

            </ul>
        </div>
    </body>
</html>